<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzh.dao.AddressDao">
	
	<select id="getAddressesByUserId" parameterType="int" resultType="com.lzh.entity.Address">
		select a.* from address a where a.userid=#{userid}
	</select>
	
	<select id="getAddressById" parameterType="int" resultType="com.lzh.entity.Address">
		select a.* from address a where a.id=#{id}
	</select>
	
	<update id="updateAddress" parameterType="com.lzh.entity.Address">
		update address a set a.recipient=#{recipient}, a.address=#{address}, a.phone=#{phone}, a.email=#{email} where a.id=#{id}
	</update>
	
	<insert id="saveAddress" parameterType="com.lzh.entity.Address">
		insert into address(recipient, address, phone, email, userid) values(#{recipient}, #{address}, #{phone}, #{email}, #{userid})
	</insert>
	
	<delete id="delAddressById" parameterType="int">
		delete from address where id=#{id}
	</delete>
</mapper>