<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzh.dao.LowerTagDao">

	<select id="getLowerTagByTagName" resultType="com.lzh.entity.LowerTag">
		select l.* from lowertag l where l.tagname=#{lowertag}
	</select>
</mapper>